doctype html
html(lang='en')

  head
  title Gizmania | The Question Cat
  meta(name='author', content='Nicolas Floréal')
  meta(charset='UTF-8')
  link(href='assets/images/icons/gizmoLogo.ico', rel='icon', type='image/ico')
  link(href='assets/lib/fontawesome/svg-with-js/css/fa-svg-with-js.css', rel='stylesheet')
  link(href='assets/lib/bootstrap-4.1.1/dist/css/bootstrap-reboot.min.css', rel='stylesheet')
  link(href='assets/lib/bootstrap-4.1.1/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='assets/css/screen.css', rel='stylesheet')
  
  body
  
  nav(class='navbar navbar-expand-l navbar-light bg-secondary')

    a(class='navbar-brand', href='/') <img src='assets/images/gizmoLogo.svg' width="30" height="30" alt='Gizmo, the cat.' title='Gizmo, the cat.'> Gizmania

    button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
      span(class='navbar-toggler-icon')

    div(class='collapse navbar-collapse', id='main-navbar')
      ul(class='navbar-nav mr-auto mt-2 mt-lg-0')
        li(class='nav-item')

  div(id='main', class='container')

  script(src="./assets/lib/jquery-3.3.1.min.js")
  script(src="./assets/lib/bootstrap-4.1.1/dist/js/bootstrap.min.js")
  
  script(src="./assets/js/controllers/mainController.js")
    
    
