doctype html
html(lang='en')

  head
  title Gizmania | Login
  meta(name='author', content='Nicolas Floréal')
  meta(charset='UTF-8')
  link(href='assets/images/icons/gizmoLogo.ico', rel='icon', type='image/ico')
  link(href='assets/lib/fontawesome/svg-with-js/css/fa-svg-with-js.css', rel='stylesheet')
  link(href='assets/lib/bootstrap-4.1.1/dist/css/bootstrap-reboot.min.css', rel='stylesheet')
  link(href='assets/lib/bootstrap-4.1.1/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='assets/css/screen.css', rel='stylesheet')
  
  body
  
  nav(class='navbar navbar-expand-lg navbar-light bg-info')

    a(class='navbar-brand', href='/') <img src='assets/images/gizmoLogo.svg' width="30" height="30" alt='Gizmo, the cat.' title='Gizmo, the cat.'> Gizmania

  div(id='main', class='container-fluid')
    div(class='row justify-content-center')
      
        div(class='card col-6 text-white bg-secondary')
          div(class='card-header') Register
          div(class='card-body')
            
            form(action='/register', method='post', id='gizmo-register')
              div(class='input-group mb-3')
                div(class='input-group-prepend')
                  span(class='input-group-text', id='username') Username
                input(type='text', class='form-control', aria-label='Username', aria-describedby='username', required)
              
              div(class='input-group mb-3')
                div(class='input-group-prepend')
                  span(class='input-group-text', id='password') Password
                input(type='password', class='form-control' aria-label='password', aria-describedby='password', required)
                  
              div(class='input-group mb-3')
                div(class='input-group-prepend')
                  span(class='input-group-text', id='confirm-password') Confirm password
                input(type='password', class='form-control', aria-label='confirm-password', aria-describedby='confirm-password', required)
                  
              div(class='input-group mb-3')
                div(class='input-group-prepend')
                  span(class='input-group-text', id='emailAddress') Email address
                input(type='email', class='form-control', aria-label='emailAddress', aria-describedby='emailAddress',required)                  
  
                  
              input(type='submit', id='gizmo-register-btn',class='form-control col-2', value='Register')
              
          div(class='card-footer')
            a(href='/login') You already have an account? Say no more and login!

  script(src="./assets/lib/jquery-3.3.1.min.js")
  script(src="./assets/lib/bootstrap-4.1.1/dist/js/bootstrap.min.js")
  
  script(src="./assets/js/controllers/mainController.js")
    
    
